pkgbase = bisq-latest
	pkgdesc = Cross-platform desktop application that allows users to trade national currency (dollars, euros, etc) for bitcoin without relying on centralized exchanges
	pkgver = 1.9.17
	pkgrel = 2
	url = https://bisq.network
	arch = any
	license = AGPL3
	makedepends = zulu-15-bin
	makedepends = git
	depends = jdk17-openjdk
	provides = bisq
	conflicts = bisq-bin
	conflicts = bisq
	source = git+https://github.com/bisq-network/bisq#branch=release/v1.9.17
	source = bisq.desktop
	sha256sums = SKIP
	sha256sums = 687d643fbe84660c3ebfe6270de98214f2e3ea791cb1d07d96d7ed889d61d406

pkgname = bisq-latest
